.about {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
}

.about-personal,
.about-professional {
    display: flex;
}

.about-personal > div,
.about-professional > div {
    width: 50%;
}

.about-professional > :last-child {
    text-align: right;
}
