/* 
    FONTS VARIANTS

    Ubuntu Mono: Bold 700
    Ubunto: Bold 700
    Roboto Slab: Regular 400, Bold 700
*/

:root {
    --font-mono: 'Ubuntu Mono', monospace;
    --font-texts: 'Roboto Slab', sans-serif;
    --font-titles: 'Ubuntu', sans-serif;
}

html {
    scroll-behavior: smooth;
}

* {
    background-color: rgb(19, 19, 19);
    box-sizing: border-box;
    color: rgb(228, 228, 228);
    padding: 0;
    margin: 0;
}

h3 {
    font-family: var(--font-titles);
    font-size: 1.5em;
}

h4 {
    font-family: var(--font-titles);
    font-size: 1.2em;
}

p {
    color: rgb(225, 225, 225);
    font-family: var(--font-texts);
    font-size: 1em;
    line-height: 1.5em;
}

a:hover {
    -webkit-background-clip: text;
    background-image: linear-gradient(45deg, #F27121, #E94057, #8A2387);
    color: transparent;
    transition: 400ms;
    background-color: transparent;
}

.container {
    margin: 0 auto;
    width: 85%;
}

.hide {
    opacity: 0;
    pointer-events: none;
    transition: all 250ms ease;
}

.show {
    opacity: 1 !important;
    transition: all 250ms ease; 
}

.get-to-top {
    bottom: 50px;
    height: 30px;
    opacity: 0;
    position: fixed;
    right: 20px;
    width: 30px;

    /* ARROW */
    border: solid rgb(225, 225, 225);
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 2px;
    transform: rotate(-135deg);
}