.profile {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
}

.profile-header {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.profile-titles {
    margin-right: 10%;
    align-self: flex-end;
}

.introduction {
    margin: 3% 0;
}

.name {
    animation: 
        typing 3.5s steps(40, end),
        blinker .5s step-end infinite alternate;
    border-right: 0.15em solid white;
    font-family: var(--font-mono);
    font-size: 3.5em;
    margin: 2.5% 0;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}

.name-subtitle {
    font-family: var(--font-mono);
}

.avatar {
    border: 5px solid white;
    border-radius: 50%;
    height: 250px;
    width: 250px;
}

@keyframes blinker {
    50% {
      border-color: transparent;
    }
  }

@keyframes typing {
from { width: 0 }
to { width: 100% }
}
