.profile {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
}

.profile-header {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.profile-titles {
    margin-right: 10%;
    align-self: flex-end;
}

.name {
    font-family: var(--font-mono);
    font-size: 3.5em;
    width: 100%;
}

.name-subtitle {
    font-family: var(--font-mono);
}

.avatar {
    border: 5px solid white;
    border-radius: 50%;
    height: 250px;
    /* margin: 20ppx; */
    width: 250px;
}
