.timeline-text {
    font-size: 1em;
    line-height: 1.2em;
}

.design-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: Jost;
    justify-content: center;
    margin: 2.5% 0;
}

.design {
    align-items: center;
    display: flex;
    justify-content: center;
}

.timeline {
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 0 auto;
    max-width: 90%;
}

.timeline-content {
    border-radius: 5px;
    box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
    color: white;
    margin: 1rem;
    margin-bottom: 20px;
    overflow-wrap: break-word !important;
    padding: 20px;
    padding: 1.75rem;
}

.timeline-component {
    margin: 0px 20px 20px 20px; 
}

@media screen and (min-width: 768px) {
    .timeline {
        display: grid;
        grid-template-columns: 1fr 3px 1fr;
    }
    .timeline-middle {
        background-image: linear-gradient(45deg, #F27121, #E94057, #8A2387);
        height: 100%;
        position: relative;
        width: 3px;
    }
    .main-middle {
        opacity: 0;
    }
    .timeline-circle {
        -webkit-transform: translateX(-50%);
        background-image: linear-gradient(45deg, #F27121, #E94057, #8A2387);
        border-radius: 50%;
        height: 15px;
        left: 50%;
        position: absolute;
        top: 0;
        transform: translateX(-50%);
        width: 15px;
    }
}
